<%- include("./header.ejs"); -%>

<div class="course_wrapper"> 
  <main>
    
    <div class="breadcrumbs">
      <a href="/">home</a>
      <span>&#8680;</span>
      <a href="/courses/<%= course.slug %>"><b><%= course.slug %></b></a>
    </div>

    <div class="course">
      <h1><%= course.name %></h1>
      <hr>

      <% for (let i = 0; i < course.sectionsArr.length; i++) { %> 
        <div class="section">
          <p class="section_title"><%- course.sectionsArr[i].title %></p>
          
          <% for (let j = 0; j < course.sectionsArr[i].topicsArr.length; j++) { %> 
          <a href="/topics/<%- course.sectionsArr[i].topicsArr[j].slug %>">
            <div><%- course.sectionsArr[i].topicsArr[j].position %>. <%- course.sectionsArr[i].topicsArr[j].name %></div>
          </a>
          <% } %>

        </div>
      <% } %>

      <form action="/topics/mode/new_topic" method="get">
        <input type="hidden" name="course_id" value="<%= course._id %>" />
        <button type="submit" class="course_buttons">new topic</button>
      </form>
      
    </div>
  </main>
  <div class="holygrail-aside sidebar"></div>
  <div class="holygrail-ads ads"></div>
</div>
  
<%- include("./footer.ejs"); -%>