<%- include("header.ejs"); -%>

<div class="holygrail-body"> 
  <main>
    <div class="course">
      <h1><%= course.display_name %></h1>

      <% for (let i = 0; i < course.topics.length; i++) { %> 
        
        <a href="/topics/<%- course.topics[i].slug %>">
          <div><%- course.topics[i].position %>. <%- course.topics[i].name %></div>
        </a>

      <% } %>

      <form action="/topics/mode/new_topic" method="get">
        <input type="hidden" name="course_id" value="<%= course._id %>" />
        <button type="submit" class="course_buttons">new topic</button>
      </form>
      
    </div>
  </main>
  <div class="holygrail-aside sidebar"></div>
  <div class="holygrail-ads ads"></div>
</div>
  
<%- include("footer.ejs"); -%>