<%- include("../header.ejs"); -%>

<div class="holygrail-body">
  <main>

    <div class="breadcrumbs">
      <a href="/">Home</a>
      <span>&gt;</span>
      <a href="/courses/<%= course_slug %>"><%= course_slug %></a>
      <span>&gt;</span>
      <b>New Topic</b>
    </div>

    <div class="topic_body">
      <form action="/topics/mode/new_topic" method="POST" class="form_new_topic_grid">
        <div class="form_new_topic_grid_c1">
          <label for="topic_name">Title of the topic</label>
        </div>
        <div class="form_new_topic_grid_c2">
          <input id="topic_name" class="topic_name" name="topic_name" type="text">
        </div>
        <div class="form_new_topic_grid_c3">
          <label for="post_content">Message</label>
        </div>
        <div class="form_new_topic_grid_c4">
          <textarea id="post_content" name="post_content" class="new_topic_editor"></textarea>  
        </div>
        <input type="hidden" id="course_id" name="course_id" value="<%= course_id %>">
        <div class="form_new_topic_grid_c5">
          <p>Information</p>
        </div>
        <div class="form_new_topic_grid_c6">
          <p>HTML is ON</p>
        </div>
        <div class="form_new_topic_grid_c8">
          <button class="course_buttons" type="submit">Save</button>
        </div>
      </form>
    </div>

  </main>
</div>
  
<%- include("../footer.ejs"); -%>