<%- include("../header.ejs"); -%>

<div class="holygrail-body"> 
  <main>

    <div class="breadcrumbs">
      <a href="/">Home</a>
      <span>&gt;</span>
      <a href="/courses/<%= course.slug %>"><%= course.slug %></a>
      <span>&gt;</span>
      <a href="/topics/<%= topic.slug %>"><b><%= topic.slug %></b></a>
    </div>

    <div class="topics_body">
    <h1><%= topic.name %></h1>

    <% for (let i = 0; i < topic.posts.length; i++) { %> 
      
      <div><%- topic.posts[i]._id %></div>
      <div class="post_body"><%- topic.posts[i].content %></div>
      <form action="/post/edit/<%= topic.posts[i]._id %>" method="GET">
        <button class="course_buttons" type="submit">Edit</button>
      </form>

    <% } %>
    </div>

  </main>
  <div class="holygrail-aside sidebar"></div>
  <div class="holygrail-ads ads"></div>
</div>
  
<%- include("../footer.ejs"); -%>