<%- include("../header.ejs"); -%>

<div class="course_wrapper"> 
  <main>
    
    <div class="breadcrumbs">
      <a href="/">home</a>
      <span>&#8680;</span>
      <a href="/courses/<%= course.slug %>"><b><%= course.slug %></b></a>
    </div>

    <div class="course">
      <h1><%= course.name %></h1>
      <hr>

      <% for (let i = 0; i < course.topics.length; i++) { %> 
        <a href="/topics/<%- course.topics[i].slug %>">
          <div><%- course.topics[i].position %>. <%- course.topics[i].name %></div>
        </a>
      <% } %>

      <form action="/topics/mode/new_topic" method="get">
        <input type="hidden" name="course_id" value="<%= course._id %>" />
        <button type="submit" class="course_buttons">new topic</button>
      </form>
      
    </div>
  </main>
  <div class="holygrail-aside sidebar"></div>
  <div class="holygrail-ads ads"></div>
</div>
  
<%- include("../footer.ejs"); -%>