<%- include("../header.ejs"); -%>

<div class="holygrail-body">
  <main>

    <div class="breadcrumbs">
      <a href="/">Home</a>
      <span>&gt;</span>
      <a href="/courses/<%= course_slug %>"><%= course_slug %></a>
      <span>&gt;</span>
      <b>New Topic</b>
    </div>
    
    <form action="/topics/mode/new_topic" method="POST">
      <div class="new-topic">
        <div class="flex-6 padding-tb-5">
          <div class="flex-6-item-2 padding-lr-5 text-right"><label for="topic_name">Title of the topic</label></div>
          <div class="flex-6-item-4 padding-lr-5"><input id="topic_name" class="topic_name" name="topic_name" type="text"></div>
        </div>
        <div class="flex-6 padding-tb-5">
          <div class="flex-6-item-2 padding-lr-5 text-right"><label for="section_name">Section</label></div>
          <div class="flex-6-item-4 padding-lr-5">
            <select name="section_id" type="text">
              <option value="<%= course_id %>" selected>No Section</option>
              <% for( let i = 0; i < sectionsArr.length; i++ ) { %>
                <option value="<%= sectionsArr[i]._id %>"><%= sectionsArr[i].title %></option>
              <% } %>
            </select>
          </div>
        </div>
        <div class="flex-6 padding-tb-5">
          <div class="flex-6-item-2 padding-lr-5 text-right"><label for="post_content">Message</label></div>
          <div class="flex-6-item-4 padding-lr-5"><textarea id="post_content" class="new-topic_editor" name="post_content" type="text"></textarea></div>
        </div>
        <div class="flex-6 padding-tb-5">
          <div class="flex-6-item-2 padding-lr-5 text-right"><p>Information</p></div>
          <div class="flex-6-item-4 padding-lr-5"><p>HTML is ON</p></div>
        </div>
        <input type="hidden" id="course_id" name="course_id" value="<%= course_id %>">
        <div class="flex-6 padding-tb-5">
          <div class="flex-6-item-2 padding-lr-5"></div>
          <div class="flex-6-item-4 padding-lr-5"><button class="course_buttons" type="submit">Save</button></div>
        </div>
      </div>
    </form>

  </main>
</div>
  
<%- include("../footer.ejs"); -%>