<%- include("../header.ejs"); -%>

<div class="topic_wrapper"> 
  <main>

    <div class="breadcrumbs">
      <a href="/">home</a>
      <span>&#8680;</span>
      <% for( let i = 0; i < breadcrumbsArr.length; i++ ) { %>
        <% if (breadcrumbsArr[i].type === "course") { %>
          <a href="/courses/<%= breadcrumbsArr[i].slug %>"><%= breadcrumbsArr[i].name %></a>
          <span>&#8680;</span>
        <% } else if (breadcrumbsArr[i].type === "section") { %>
          <span><%= breadcrumbsArr[i].name %></span>
          <span>&#8680;</span>
        <% } else if (breadcrumbsArr[i].type === "topic") { %>
          <a href="/topics/<%= breadcrumbsArr[i].slug %>"><b><%= breadcrumbsArr[i].name %></b></a>
        <% } %>
      <% } %>
    </div>

    <div class="topic">
      <h1><%= topic.name %></h1>
      <hr>
      <% for (let i = 0; i < topic.postsArr.length; i++) { %> 
        <div class="post_body"><%- topic.postsArr[i].content %></div>
        <div class="post_foot">
          <form action="/post/edit/<%= topic.postsArr[i].id %>" method="GET">
            <button class="course_buttons" type="submit">Edit</button>
          </form>
        </div>
      <% } %>
    </div>

    <div class="permissions">
      <div class="permissions_head">Permissions in this topic:</div>
    </div>

  </main>
  <div class="holygrail-aside sidebar"></div>
  <div class="holygrail-ads ads"></div>
</div>
  
<%- include("../footer.ejs"); -%>