<%- include("../header.ejs") %>

<div id="cpp_grid">
  <div id="cpp_sidebar">
    <div class="sidebarButton">Introduction</div>
    <div class="sidebarButton">Data Types</div>
    <div class="sidebarButton">Variables</div>
    <div class="cpp_sidebar_h1">Solutions</div>
    <div class="cpp_sidebar_h2">Algebra</div>
    <div>Quadratic Equation</div>
    <div>Greatest Common Divisor</div>
  </div>
  <div class="cpp_main">

    <div id="javascript_classes_and_objects">
      <h1>Classes And Objects</h1> 
      <h2>Class Definition</h2>
      <p>In programming, a class is the <b>blueprint</b> from which individual objects are created. Those objects by themselves are different <b>instances</b>, but they share a common model and they will have the same properties and methods.</p>
      <p>In JavaScript, classes are constructor functions with a prototype property. This is how they actually work, because in terms of objects, JavaScript is a prototype-based language, rather than being a class-based, such as C++, C# and Java. Until 2015, you had to write classes with functions, which gives great flexibility, but requires vast understanding of the language. Since ES6, you can use the new class syntax, which is a good practice, as it gives structure, reliability and readability.</p>
      <h2>Class Declaration</h2>
      <p>The syntax</p>
      <code><%= class_syntax %></code>

      <p>Demo 1 - ESNext (2019)</p>
      <code><%= demo1_esnext %></code>

      <p>Demo 2 - ES6 (2015)</p>
      <code><%= demo2_es6 %></code>

      <p>Demo 3 - ES5 (pre 2015)</p>
      <code><%= demo3_es5 %></code>

      <h2>Find And Replace All Occurrences</h2>
      <table class="code_table">
        <tr>
            <th>Input</th>
            <th>Output</th>
        </tr>
        <tr>
            <td>I am the night. Dark Night! No, not the knight</td>
            <td>I am the day. Dark Night! No, not the kday</td>
        </tr>
        <tr>
            <td>night</td>
            <td></td>
        </tr>
        <tr>
            <td>day</td>
            <td></td>
        </tr>
      </table>
      <br>
      <code code-include="/code/cpp/strings_and_streams/findAndReplaceAllOccurrences.cpp"></code>

      <h2>isNumber</h2>
      <table class="code_table">
        <tr>
            <th>Input</th>
            <th>Output</th>
        </tr>
        <tr>
            <td>100</td>
            <td>true</td>
        </tr>
        <tr>
            <td>one_hundred</td>
            <td>false</td>
        </tr>
        <tr>
            <td>-100</td>
            <td>true</td>
        </tr>
        <tr>
            <td>-on3_hundr3d</td>
            <td>false</td>
        </tr>
      </table>
      <br>
      <code code-include="/code/cpp/strings_and_streams/isNumber.cpp"></code>
    
    </div> <!-- END CPP_STRINGs_AND_STREAMS-->
     
  </div>
</div>

<%- include("../footer.ejs") %>